.polling-page-errorText {
  color: red;
}

.polling-page-taskInfoContainer {
  margin-top: 20px;
  text-align: left;
}

.polling-page-taskJson {
  background-color: #f0f0f0;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-all;
}

.polling-page-progressBarContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 10px;
}

.polling-page-progressBar {
  background-color: #4caf50;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  line-height: 20px;
  transition: width 0.3s ease-in-out;
} 